@keyframes slide-clippath {
  0% {
    clip-path: polygon(0 0, 90% 0, 70% 100%, 0% 100%);
  }
  
  100% {
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
  }
}

@keyframes slide-clippath-mobile {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 80%);
  }
  
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
  }
}

@keyframes pulse-white {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}