@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}
