// colors
$white: #f7feff;
$grey: #5e5e5e;
$black: #333;

$light-blue: #c8dff5;
$blue: #136ec4;
$color-title: #061569;

// sizing
$fontsize: 62.5%;
$property-border-radius: 20px;

// urls
$herobgurl: 'https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=750&q=80';