// colors
$light-blue: #c8dff5;
$blue: #136ec4;
$white: #f7feff;
$grey: #5e5e5e;
$fontsize: 62.5%;

$color-title: #061569;

$herobgurl: 'https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=750&q=80';