@import '../../index.scss';

.top {
  @include flex-align-center;
  margin-bottom: 4rem;

  &__menu {
    flex: 1;

    .icon {
      font-size: 3rem;
      cursor: pointer;
    }
  }

  &__login {
    button:not(last-of-type) {
      margin-right: 1rem;
    }
  }
}
