@import '../../index.scss';

.top {
  @include flex-align-center;
  margin-bottom: 4rem;

  &__menu {
    flex: 1;

    .icon {
      font-size: 3rem;
      cursor: pointer;
    }
  }

  &__login {
    button:not(last-of-type) {
      margin-right: 1rem;
    }
  }
}

.header {
  margin-bottom: 4rem;

  &__pretitle {
    font-weight: 300;
    color: $grey;
    margin-bottom: .6rem;
  }

  &__title {
    color: $color-title;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: .08rem;
  }
}
