@import '../../index.scss';

.hero {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: 
    linear-gradient(to right, rgba($white, .4), rgba(black, .4)), 
    url($herobgurl);
  
  &__clip {
    height: 100%;
    width: 100%;
    background-color: rgba($blue, .8);
    animation: 1s slide-clippath 0.5s cubic-bezier(.09,.66,.71,1.36) forwards;

    @include adapt(mobile) {
      animation-name: slide-clippath-mobile;
    }
  }
}

.form {
  @include absolute-center;
  background-color: rgba($white, .9);
  z-index: 10;
  height: 180px;
  width: 350px;
  @include flex-column;
  justify-content: space-around;
  padding: 2rem 4rem;
  border-radius: 2%;

  @include adapt(mobile) {
    padding: 1rem 2rem;
  }

  &__title {
    font-size: 3rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgba($grey, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    font-size: 2rem;
    color: $black;
    font-weight: 700;
  }

  &__select {
    font-weight: 400;
    color: $black;
    text-transform: capitalize;
  }

  @include adapt(mobile) {
    width: 75%;
  }

  @include adapt(extrasmall) {
    width: 100%;
  }
}
