@import '../../index.scss';

.property {
  @include flex-column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 5rem;

  &:hover {
    img {
      border: 3px solid $blue;
    }
  }
  
  &__img {
    display: block;
    max-width:100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3%;
    border: 3px solid transparent;
    transition: .3s ease-out;
  }
  

  &__info {
    width: 100%;
    padding-top: 1rem;
    color: $grey;

    *:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }

  &__address {
    font-weight: 700;
    color: $color-title;
  }

  &__icons {
    display: flex;

    *:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  &__price {
    color: $blue;
    font-weight: 700;
  }

  @include adapt(mobile) {
    width: 300px;
    margin: auto;
  }

  @include adapt(extrasmall) {
    width: 100%;
  }

}

.selected {
  img {
    border: 3px solid $blue;
  }
}